{{>partials/header}}
    <div class="container">
        <div class="card">
            {{#list}}            
                <div class="card-drums">
                    <div class="card-title">
                        <h4 class="title">{{ name }}</h4>
                    </div>
                    <div class="card-img">
                        <img src="images/{{ image }}" alt="" />
                    </div>
                    <div class="card-description">
                        <p class="description">{{ description }}</p>
                    </div> 
                </div>            
            {{/list}}       
        </div>       
        {{^list}}
            <div class="no-list">
                <h2>Nenhum item encontrado</h2>
            </div>
        {{/list}}
    </div>
{{>partials/footer}}