<footer> 
     Desenvolvido por <a href="mailto:rrubens.meirelles@gmail.com">Rubens de Deus Meirelles</a>

    <div class="obs">
        <p>Todas as imagens e descrições utilizadas nesse projeto são reservadas aos seu criados</p>
        <p>Conteúdo utilizado para fins didáticos.</p>
    </div>
</footer>