{{>partials/header}}
    <div class="drums-acoustics">
        <ul>
            <li class="{{#menu.all}}active{{/menu.all}}"><a href="/acoustic">Todas</a></li>
            <li class="{{#menu.pearl}}active{{/menu.pearl}}"><a href="/pearl">Pearl</a></li>
            <li class="{{#menu.sonor}}active{{/menu.sonor}}"><a href="/sonor">Sonor</a></li>
            <li class="{{#menu.mapex}}active{{/menu.mapex}}"><a href="/mapex">Mapex</a></li>
        </ul>
    </div>
