{{>partials/header}}
    <div class="drums-eletronics">
        <ul>
            <li class="{{#menu.all}}active{{/menu.all}}"><a href="/eletronic">Todas</a></li>
            <li class="{{#menu.alesis}}active{{/menu.alesis}}"><a href="/alesis">Alesis</a></li>
            <li class="{{#menu.rolland}}active{{/menu.rolland}}"><a href="/rolland">Rolland</a></li>
            <li class="{{#menu.yamaha}}active{{/menu.yamaha}}"><a href="/yamaha">Yamaha</a></li>
        </ul>
    </div>
